<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-drag-tree-org@2.0.0/lib/theme/index.css">
  <title>vue-drag-tree-org</title>
</head>
<body>
  <div id="app" class="container">
  <vue-drag-tree-org
      :data="data"
      :props="defaultProps"
      node-key="id"
    >
    </vue-drag-tree-org>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-drag-tree-org@2.0.0/lib/index.umd.js"></script>
<script type="text/javascript">
 var vm = new Vue({
  el: '#app',
  data() {
    return {
      data: [
        {
          id: 0,
          label: 'XXX科技有限公司',
          children: [
            {
              id: 2,
              label: '产品研发部',
              children: [
                {
                  id: 5,
                  label: '研发-前端'
                },
                {
                  id: 6,
                  label: '研发-后端'
                },
                {
                  id: 9,
                  label: 'UI设计'
                },
                {
                  id: 10,
                  label: '产品经理'
                }
              ]
            },
            {
              id: 3,
              label: '销售部',
              children: [
                {
                  id: 7,
                  label: '销售一部'
                },
                {
                  id: 8,
                  label: '销售二部'
                }
              ]
            },
            {
              id: 4,
              label: '财务部'
            },
            {
              id: 9,
              label: 'HR人事'
            }
          ]
        }
      ],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  }
 })
</script>
</body>
</html>